* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 100px;
    margin-bottom: 50px;
    color: #67B587;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}

.size-image-1 {
    width: 100px;
}

.size-image-2 {
    width: 150px;
}

.btn {
    color: #fff;
    font-weight: bold;
    background-color: #39485C;
    border: 2px solid #67B587;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    width: 300px;
    cursor: pointer;
}